* {
    box-sizing: border-box;
    user-select: none;
}
body{
    margin: 0;
    background-color: #181D26;
    font-family: monospace;
}

p{
    display: inline-block;
}
#size {
    height: 8px;
}
.container {
    margin: 22px 43px 0 43px;
}
canvas{
    display: block;
    border: 2px solid #3D5A80;
    border-radius: 15px;
    box-shadow: 2px 2px 9px #060606;
}
#toolbar {
    padding: 10px;
    border-radius: 12px;
    height: 54px;
    background-color: #3D5A80;
    margin-bottom: 20px;
    box-shadow: 2px 2px 9px #060606;
}

#colorPicker, #sizePicker,#bkcolorPicker{
    position: relative;
    float: left;
    margin: 0 10px;
    height: 34px;
    color: #E0FBFC;
}
button{
    float: right;
    margin: 0 5px;
    box-shadow: 1px 1px 4px #262728;
    height: 34px;
    border-radius: 6px;
    border: none;
    font-family: monospace;
}

input {
    margin: 0 6px;
}

input , button{
    cursor: pointer;
}
